@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rum+Raisin&display=swap');
header {
    background-color: #00b4d8;
    font-family: "Rum Raisin", "Arial", "sans-serif";
}
/* "section h1" is .home-title */
.home-title {
    font-family: "Rum Raisin", "Arial", "sans-serif";
    font-size: 2em;
    margin-top: 10px;
}
body {
    background-color: #ffffff;
    font-family: "Roboto", "Helvetica", "sans-serif";
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content {
    margin: 0 auto;
    max-width: 1600px;
}
nav {
    width: 1600px;
}
nav a {
    text-align: center;
    color: darkblue;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #caf0f8;
    color: darkblue;
    text-decoration: none;
}
#hero-img {
    width: 100%;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
h1 {
    color: darkblue;
    font-size: 2.0em;
}
section h2 {
    color: darkblue;
    font-size: 1.5em;
    margin: 0;
}
h4 {
    color: darkblue;
    font-size: 1.5em;
}
#background {
    height: 725px;
    background-color: #00b4d8;
    color: darkblue;
}
.book, .join {
    background-color: #00b4d8;
    color: darkblue;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #caf0f8;
    color: darkblue;
    text-decoration: none;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}   
.card-img {
    border: 10px solid #00b4d8;
}
.msg {
    background-color: #90e0ef;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: darkblue;
    font-size: 1.75em;
    font-family:"Rum Raisin", "Arial", "sans-serif";
}
.msg p {
    color: darkblue;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer {
    background-color: #90e0ef;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    color: black;
    font-size: 0.8em
}
footer a {
    color: black;
}
footer p a:hover {
    text-decoration: underline;
    background-color: #0077b6;
    color: #caf0f8;
}
footer .social img {
    padding-top: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}